body{
    background: linear-gradient(to bottom right, #ede0d4 0%, #ddb892 100%) ;
    min-height: 100vh;
}
h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 70pt;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #7F5539;
}

h2{
    font-family: 'Fredericka the Great', cursive;
    font-size: 30pt;
    display: flex;
    justify-content: end;
    align-content: flex-end;
    margin-right: 10pt;
    color: #A57455;
}

date{
    color:#AD8164;
    display: flex;
    justify-content: end;
    align-content: flex-end;
    margin-right: 30pt;
    font-family: 'Fredericka the Great', cursive;
}

img{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 700pt;
}

p{
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    color: #B08968;
    font-size: 15pt;
    margin-top: 300pt;
    margin-left: 15pt;
    margin-right: 15pt;
}

/* routing_images */
body {
    margin: 0;
    padding: 0;
}
#slider {
    display: flex;
    position: absolute;
    top: 0.0005;
    left: 0;
    height: 300px;
    transition: all 60s linear;
}

#slider div img {
    height: 100%;
    display: block;
    margin-right: 20px;
}

.a, .b {
   display: flex;
   height: 100%;
}

.a, .b {
   display: flex;
   height: 100%;
}