body{
    background: linear-gradient(to bottom right, #ede0d4 0%, #ddb892 100%) ;
    min-height: 100vh;
}
h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 70pt;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #7F5539;
}

h2{
    font-family: 'Fredericka the Great', cursive;
    font-size: 30pt;
    display: flex;
    justify-content: end;
    align-content: flex-end;
    margin-right: 10pt;
    color: #A57455;
}

date{
    color:#AD8164;
    display: flex;
    justify-content: end;
    align-content: flex-end;
    margin-right: 30pt;
    font-family: 'Fredericka the Great', cursive;
}

img{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 700pt;
}

p{
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    color: #B08968;
    font-size: 15pt;
    margin-top: 300pt;
    margin-left: 15pt;
    margin-right: 15pt;
}



:root {
    --sliderwidth: ;
}

@keyframes moveSlider {
    from { left: 0; }
    to { left: var(--sliderwidth) }
}
.animate {
    animation-name: moveSlider;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

body {
    margin: 0;
    padding: 0;
}
/* I added this for the section */
#one {
    width: 100%;
    overflow-x: hidden;
}

#slider {
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    height: 200px;
    transition: all 60s linear;
}

/* to make it go right, just change the left property to right */
.slider {
    display: flex;
    position: absolute;
    top:500;
    left: 0; /* this is the only change! */
    height: 200px;
    margin-top: 40px;
    /* transition: all 60s linear; */
}

.sliderpaused {
    display: flex;
    position: absolute;
    top:0;
    /*right: 0;  this is the only change! */
    height: 200px;
}

.slider div img {
    height: 200pt;
    display: block;
    margin-right: 20px;
}

.a, .b {
   display: flex;
   height: 100%;
}

#grid_display

img.atnight:hover {
    filter: brightness(70%);
}

img.firstout:hover {
    filter: brightness(70%);
}

img.firstpic:hover {
    filter: brightness(70%);
}

img.han:hover {
    filter: brightness(70%);
}

img.housefeild:hover {
    filter: brightness(70%);
}

.atnight {
    border-radius: 7%;
    grid-area: 1 / 3 / 3 / 4;
}

.firstout {
    border-radius: 7%;
    width: 300px;
    grid-area: 1 / 4 / 2 / 5;
}

.firstpic {
    border-radius: 7%;
    width: 300px;
    grid-area: 3 / 1 / 4 / 2;
}

.han {
    border-radius: 7%;
    grid-area: 3 / 3 / 5 / 4;
}

.housefield {
    border-radius: 7%;
    grid-area: 2 / 4 / 4 / 5;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#ol-first {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#ol-first article {
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #fff;
    width: 900px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#ol-first h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 36px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 15px;
    padding-left: 500px;
}

#ol-first date {
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 1px;
    padding-left: 500px;
}

#ol-first p {
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: .8px;
    position: absolute;
    width: 40%;
    margin-top: 10pt;
    padding-left: 500px;
}

#ol-first img {
    width: 500px;
    height: 400px;
    position: fixed;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

#ol-first p button {
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: .8px;
    position: absolute;
    width: 5%;
    margin-top: -140px;
    margin-left: 310px;
}

/* oltwo styles */

#ol-second {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#ol-second article {
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #fff;
    width: 1100px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#ol-second h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 36px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    margin-top: 70px;
    /* padding-top: 50px; */
    padding-left: 650px;
}

#ol-second date {
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    letter-spacing: .8px;
    position: fixed;
    width: 40%;
    margin-left: 40px;
}

#ol-second p {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15pt;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    margin-top: 18px;
    padding-left: 600px;
}

#ol-second img {
    width: 600px;
    height: 450px;
    position: fixed;
    /* margin-top: 100px; */
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

#ol-second p button {
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: .8px;
    position: absolute;
    width: 5%;
    margin-top: -130px;
    margin-left: 396px;
}


/* olthree styles */

#ol-third {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#ol-third article {
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #fff;
    width: 1150px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#ol-third h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 36px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 50px;
    padding-left: 680px;
}

#ol-third date {
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 1px;
    padding-left: 680px;
}

#ol-third p {
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    margin-top: 3px;
    padding-left: 630px;
}

#ol-third img {
    width: 600px;
    height: 450px;
    position: fixed;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

#ol-third p button {
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: .8px;
    position: absolute;
    width: 5%;
    margin-top: -168px;
    margin-left: 420px;
}

/* olfour styles */

#ol-forth {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#ol-forth article {
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #fff;
    width: 1100px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#ol-forth h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 36px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 50px;
    padding-left: 650px;
}

#ol-forth date {
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 1px;
    padding-left: 650px;
}

#ol-forth p {
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    margin-top: 5px;
    padding-left: 650px;
}

#ol-forth img {
    width: 600px;
    height: 450px;
    position: fixed;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

#ol-forth p button {
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: .8px;
    position: absolute;
    width: 5%;
    margin-top: -165px;
    margin-left: 353px;
}

/* olfive styles */

#ol-fifth {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#ol-fifth article {
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #fff;
    width: 900px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#ol-fifth h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 36px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 50px;
    padding-left: 600px;
}

#ol-fifth date {
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    padding-top: 1px;
    padding-left: 520px;
}

#ol-fifth p {
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: .8px;
    position: relative;
    width: 40%;
    margin-top: 20px;
    padding-left: 500px;
}

#ol-fifth img {
    width: 450px;
    height: 550px;
    position: fixed;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

#ol-fifth p button {
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: .8px;
    position: absolute;
    width: 5%;
    margin-top: -206px;
    margin-left: 320px;
}