body {
    font-family: Arial;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

button { 
    padding: 10px;
}

div {
    padding: 20px;
}

#mario{
    display: flex;
    position: absolute;
    top: 520px;
    left: 100px;
}

#luigi{
    display: flex;
    position: absolute;
    top: 500px;
    margin-left: 1100px;
}

#toad{
    display: flex;
    position: absolute;
    top: 385px;
    left: 670px;
}
/* 
#gamecontrol, #score {
    background-color: aliceblue;
}

#game {
    background-color:#eaeaea;
}
#actions {
    background-color: silver;
} */