body{
    background-image: url(images/txrpic-10287748.jpg);
}
h1{
    display: flex;
    font-family: 'Handlee', cursive;
    font-size: 50pt;
    align-items: center;  
    justify-content: center;  
    color: #BD0505;
    margin-top: 74pt;
}

h2{
    display: flex;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30pt;
    align-items: center;
    justify-content: center;
    color: #B30505;
}

section {
    width: 1050px;
    display: flex;
    /* align-items: center; */
}

form{
    position: relative;
    width: 1050px;
    
}

form label{
    position: relative;
    justify-content: left;
    display: flex;
    margin-left: 55%;
    font-family: 'Handlee', cursive;
    font-size: 17pt;
}

form input{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 55%;
    font-family: 'Handlee', cursive;
    font-size: 17pt;
}


p{
    position: relative;
    margin-left: 40%;
    font-family: 'Shadows Into Light', cursive;
    color: #da1e37;
    font-size: 20pt;
    align-content: center;
    justify-content: center;
}



input[type="submit"]:hover, #lastbutton:hover {
    color: white;
    background-color: #E12C2C;
    cursor:pointer;
}

form input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    display: grid;
    margin-top: 20pt;
    font-size: 18pt;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

.hidden{
    background-color: antiquewhite;
}

label{
    font-family: 'Shadows Into Light', cursive;
}

.rewrite{
    margin-top: 20pt;
    font-size: 18pt;
}

footer p{
    font-family: 'Handlee', cursive;
    font-size:20pt;
}