h1{
    font-family: 'Handlee', cursive;
    font-size: 90pt;
    align-items: center;    
}

h2{
    font-family: 'Sassy Frass', cursive;
    font-size: 70pt;
    align-items: center;
    justify-content: center;
}

p{
    font-family: 'Sassy Frass', cursive;
}

footer{
    font-family: 'Handlee', cursive;
}